<h2 mat-dialog-title>Expenses</h2>
<mat-dialog-content class="expenses-table">
  <table mat-table [dataSource]="expenses" class="mat-elevation-z8">
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let expense"> {{expense.description}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let expense"> {{expense.amount | currency:'INR':'symbol-narrow'}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let expense"> {{expense.date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="settled">
      <th mat-header-cell *matHeaderCellDef> Settled </th>
      <td mat-cell *matCellDef="let expense"> {{expense.isSettled ? 'Yes' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let expense">
        <button mat-button class="settle-button" (click)="settleExpense(expense.id)" [disabled]="expense.isSettled">Settle</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['description', 'amount', 'date', 'settled', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['description', 'amount', 'date', 'settled', 'actions'];"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
