<h2 mat-dialog-title>Add Expense</h2>
<mat-dialog-content>
  <form #expenseForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput required [(ngModel)]="description" name="description">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" required [(ngModel)]="amount" name="amount">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" required [(ngModel)]="date" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <!-- <mat-label>Paid By</mat-label> -->

      <mat-select placeholder="Paid By" [(ngModel)]="paidById" name="paidById" required >
       

        <mat-option *ngFor="let member of members" [value]="member.userId">
          {{ member.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="!expenseForm.valid" (click)="onAddExpense()">Add</button>
</mat-dialog-actions>
